<%= link_to new_group_path, style:'float: right;', class:'btn btn-primary' do %><i class="fa fa-plus"></i> Create Group<% end %>
<h1>Groups</h1>

<% Group.all.each do |g| %>
    <h3><%= link_to g.name, g %></h3>
    <p><%= g.users.count %> member(s)</p>
    <hr />
<% end %>
