<div class="logo_banner" style="text-align: center;">
    <%= image_tag "logo_github.png", style:'height:120px;' %>
    <h1 style="text-align: center;">Oneironauts</h1>
    <h1 style="text-align: center;">The open dreamers community</h1>
    <p style="font-size: 1.2em;">We all have our own dreams. Dreaming is a unique experience that enriches our lives in many ways, and especially if we can share it with others. Sometimes it is difficult to share our dreams, so we decided to create Oneironauts, the first social network by dreamers and for dreamers. We aim to be a free community. So why shouldn't we publish its code? Feel free to collaborate with us!</p>
</div>
    <hr />
<div class="banner" style="text-align: center;">
    <i class="fa fa-lock fa-5x"></i>
    <h2>You are important to us. So does your privacy</h2>
    <p style="font-size: 1.4em;">We believe that privacy on the Internet is an important issue, so we just try to keep secret the dreams that our users set us private, even to administrators.</p>
</div>

<div class="banner banner1" style="text-align: center; color: #fff;">
    <i class="fa fa-pencil fa-5x"></i>
    <h2>Your Own Dream Journal. Whenever you want. Wherever you are</h2>
    <p style="font-size: 1.4em;">Keep track of your dreams online or with your smartphone. Classify your favourite Dream Characters and locations. See interesting stats about your dreams. Share your dreams or keep them yours.</p>
</div>
<div class="banner" style="text-align: center;">
    <i class="fa fa-users fa-5x"></i>
    <h2>A community by humans and for humans.</h2>
    <p style="font-size: 1.4em;">We humans are social animals. Share your thoughts with others. Chat, private messaging, groups and more.</p>
</div>
<div class="banner banner5" style="text-align: center; color: #fff;">
    <i class="fa fa-pagelines fa-5x"></i>
    <h2>Free as in free beer. Free as in freedom</h2>
    <p style="font-size: 1.4em;">The first open source dreamers network. Community powered</p>
</div>
<div class="banner" style="text-align:center;">
    <i class="fa fa-moon-o fa-5x"></i>
    <h2>Do you want to achieve your first lucid dream?</h2>
    <p style="font-size: 1.4em;"> Learn about how to be a lucid dreamer. Check out our reality checks mobile app. Get help from the community.</p>
</div>
<div class="banner banner2" style="text-align: center; color: #fff;">
    <i class="fa fa-pie-chart fa-5x"></i>
    <h2>Keep track of your sleep on the go</h2>
    <p style="font-size: 1.4em;"> A private sleep log. See interesting stats about your sleeping habits and your dreams. </p>
</div>
<div class="banner" style="text-align:center;">
    <i class="fa fa-graduation-cap fa-5x"></i>
    <h2>Are you curious? Check out our guides</h2>
    <p style="font-size: 1.4em;"> Learn about good sleeping habits, how to be a lucid dreamer, sleeping disorders... </p>
</div>
<div class="banner banner3" style="text-align: center; color: #fff;">
    <i class="fa fa-trophy fa-5x"></i>
    <h2>Life is but a game. Just play it</h2>
    <p style="font-size: 1.4em;"> Quests, points, badges, awards, achievements, rankings and much more.  </p>
</div>
<div class="banner" style="text-align: center;">
    <i class="fa fa-book fa-5x"></i>
    <h2>A public Dream Signs Dictionary. Community Driven</h2>
    <p style="font-size: 1.4em;">Ask for a specific word. Maybe a black cat or a snake. Help others find their dream's meaning. Help the community grow. </p>
</div>
<div class="banner banner4" style="text-align: center; color: #fff;">
    <i class="fa fa-life-ring fa-5x"></i>
    <h2>Want to help?</h2>
    <p style="font-size: 1.4em;">You can contribute to the project translating the site to your language, designing assets, and much more!</p>
</div>
<div class="banner" style="text-align: center;">
    <i class="fa fa-code fa-5x"></i>
    <h2>Are you a developer?</h2>
    <p style="font-size: 1.4em;">We are developing an open API to let developers integrate our services with their apps. Have a look at our <a href="https://github.com/096acc/oneironauts">github page</a>.</p>
</div>

<br />
<h2 style="text-align: center;">LICENSE</h2>
<div class="well well-lg" style="text-align: center;">
    <p>This project is licensed under GNU GPL v3, so you are free to read, use, distribute and modify its source code provided that you share it under the same terms.</p>
    <h3>Home Page images</h3>
    <p>These astonishing photos were taken <a href="https://www.flickr.com/photos/aigle_dore/">by Moyan Brenn on Flickr</a>.</p>
</div>

