<h1 style="text-align: center;">The free and global dreamers' community</h1>
<div class="banner" style="text-align: center;">
    <%= image_tag "logo_banner.png", style:'height:350px;' %>
</div>
<p style="font-size: 1.2em;">We all have our own dreams. Dreaming is a unique experience that enriches our lives in many ways, and especially if we can share it with others. Sometimes it is difficult to share our dreams, so we decided to create Oneironauts, the first social network by dreamers and for dreamers. We aim to be a free community. So why shouldn't we publish its code? Feel free to collaborate with us!</p>

<h2>LICENSE</h2>
<div class="well well-lg">
    <p>This project is licensed under GNU GPL v3, so you are free to read, use, distribute and modify its source code provided that you share it under the same terms.</p>
</div>

