<h1>Challenges</h1>

<% @challenges.each do |c| %>
    <h3><%= @challenge.name %></h3>
    <% if @challenge.limit_date %>
      <h3>Active until <%= @challenge.limit_date %></h3>
    <% end %>
    <!-- TODO add Badge Icon Image tag -->
<% end %>
