<h1><%= @challenge.name %></h1>

<%= @challenge.description %>

<!-- TODO add Badge Icon Image tag -->

<h2>Participants</h2>
<%= @challenge.users.order(:points).each do |u| %>
    <%= u.username %>
    <hr/>
<% end %>
